body {
  margin: 0;
  background-color: rgb(0, 0,0, 0.1);
}

.popup {
  width: 500px;
  height: 300px;
  background: white;
  border-radius: 15px;
  position: fixed;
  inset: 0;
  margin: auto;
  box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.9);
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}

.popup.open {
  transform: scale(1);
}
.close-icon {
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  right: 0;
  cursor: pointer;
  padding: 10px;
  top: -10px;
}

h1 {
  text-align: center;
}
